.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shopcategory-index{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.sort-by-category{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-index p span{
    font-weight: 600;
}

.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    row-gap: 60px;
    overflow: hidden;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}

.shopcategory-loadmore hover{
    cursor: pointer;
    color: blueviolet;
}

@media(max-width: 1280px)
{
    .shopcategory-banner{
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory-index{
        width: 90%;
        margin: auto;
    }
    .sort-by-category{
        padding: 5px 10px;
        font-size: 12px;
        margin-right: 70px;
    }
    .shopcategory-index p{
        font-size: 12px;
    }
    .shopcategory-products{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory-loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media(max-width: 800px)
{
    .shopcategory-banner{
        width: 75%;
    }
    .shopcategory-products{
        width: 75%;
    }
    .shopcategory-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
    .shopcategory-index{
        margin-left: 100px;
    }
    .sort-by-category{
        margin-right: 160px;
    } 
}
@media(max-width: 500px)
{
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
    }
    .shopcategory-banner{
        width: 90%;
        margin-left: 50px;
    }
    .shopcategory-products{
        width: 90%;
        margin-left: 50px;
    }
    .shopcategory-index{
        margin-left: 50px;
    }
    .sort-by-category{
        margin-right: 60px;
        padding: 3px 8px;
        font-size: 10px;
    } 

}