.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    position: relative;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
}

.hero-left h2{
  color: #090909;
  font-size: 26px;
  font-weight: 600;
  overflow-y: hidden;
}

.hero-left p{
    color: #171717;
    font-size: 20px;
    font-weight: 700;
    overflow-y: hidden;
}

.hero-right{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-right img{
    width: 90%;
}

.latest-collection-btn {
    background-color: rgb(244, 108, 153);
    color: white;
    margin-top: 30px;
    padding: 15px 20px;
    font-size: 1rem; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@media(max-width: 1280px)
{
    .hero{
        height: 80vh;
    }
    .hero-left{
        padding-left: 100px;
    }
    .hero-right img{
       width: 500px;   
    }
}

@media(max-width: 1024px)
{
    .hero{
        height: 70vh;
    }
    .hero-left{
        padding-left: 80px;
    }

    .hero-right img{
        width: 400px;
    }
}

@media(max-width: 800px)
{
    .hero{
        height: 60vh;
    }
    
    .hero-left{
        padding-left: 80px;
    }


    .hero-left p{
        font-size: 16px;
    }

    .hero-right img{
        width: 300px;
    }

    .latest-collection-btn{
        margin-top: 6px;
       padding: 10px 15px;
       font-size: 0.8rem; 
    }
}

@media(max-width: 500px)
{
    .hero{
        height: 50vh;
    }
    .hero-left h1{
        font-size: 25px;
    }
    .hero-left h2{
        font-size: 15px;
        margin-top: -10px;
    }
    .hero-left p{
        font-size: 11px;
        margin-top: -10px;
    }
    .latest-collection-btn{
        margin-top: 6px;
       padding: 10px 15px;
       font-size: 0.8rem; 
    }

    .hero-right img{
        width: 250px;
    }
}